[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID4QRsVsl/wTFAyn36C4SdFZw8otN81PfZla8QxzeDEx
	name = Oriel Sanchez
	email = orielbenitosanchez@gmail.com
